

.movie-item img {
    width:300px; 
    height:200px;
    transition: transform 0.3s;
  }
  
body {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color:darksalmon;
    margin: 0;
    padding: 20px;
  }
  
  h1 {
    text-align:center;
    color:aqua;
  }
  
  .movie-title {
    text-align: center;
    font-weight: bold;
    font-size: 16px;
  }
  .movie-title:hover {
    text-decoration: underline;
    color: #ff4500; 
  }
  #movieList {
    padding: 20px;
  }
  
  .movie-item {
    margin-bottom: 20px;
  }
  


    
  
  
  
  